@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root {
  height: 100%;
}

/* Transición suave de colores en toda la UI (opcional) */
* {
  @apply transition-colors duration-200;
}
@keyframes escribir {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-escribir {
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  width: 0;
  animation: escribir 2s steps(20) forwards;
}
body {
  /* Fondo y color base en ambos temas */
  @apply bg-white text-neutral-900 dark:bg-neutral-950 dark:text-neutral-100;

  /* Si necesitas ocultar el scroll, deja esto.
     Si ves cortes o necesitas scroll, cambia a:
     overflow-x: hidden;  y/o elimina overflow.
  */
   overflow-x: hidden;   /* ← bloquea el scroll de la ventana */
  

  /* Tipografía base */
  font-family: 'Caveat', cursive;

  /* Cursor personalizado global (si lo usas) */
  cursor: none;
}
@font-face {
  font-family: 'LoveYaLikeASister'; /* 👈 este nombre debe coincidir EXACTAMENTE con el de `tailwind.config.js` */
  src: url('./assets/fonts/LoveYaLikeASister.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sketch_Block';
  src: url('./assets/fonts/Sketch_Block.ttf') format('truetype');
}

@font-face {
  font-family: 'WallowXenon';
  src: url('./assets/fonts/WallowXenon.ttf') format('truetype');
}

@font-face {
  font-family: 'OCRAEXT';
  src: url('./assets/fonts/OCRAEXT.ttf') format('truetype');
}
@font-face {
  font-family: 'tt0371m_';
  src: url('./assets/fonts/tt0371m_.ttf') format('truetype');
}
